In [1]:
import pandas as pd
import sql_functions as sql_int
import sqlalchemy

## Result tables

In [2]:
sorter = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','AA','AB','AC','AD','AE','AF','AG','AH','AI','AJ','AK','AL','AM','AN','AO','AP','AQ','AR','AS','AT','AU','AV','AW','AX','AY','AZ','BA','BB','BC','BD','BE','BF','BG','BH','BI','BJ','BK','BL','BM','BN','BO','BP','BQ','BR','BS','BT','BU','BV','BW']

In [3]:
schema = 'tft_table'

### take tournaments

In [5]:
table = 'tournament'
sql_query = f'''SELECT name,tournament_id FROM {schema}.{table}
                WHERE tournament_id = 29
            ;'''
alternative_name = pd.DataFrame(sql_int.get_data_alchemy(sql_query),
                                    columns=['tournament','tournament_id'])

In [6]:
alternative_name.loc[0]['tournament_id']

29

### take results from this tournament

In [7]:
table = 'lobby'
sql_query = f''' 
            SELECT round,party,winner,runnerup,third,fourth,fifth,sixth,seventh,eighth FROM {table}
            WHERE tournament_id = {alternative_name.loc[0]['tournament_id']}
            ''' 
tournament_result = pd.DataFrame(sql_int.get_data_alchemy(sql_query))
tournament_result.party = tournament_result.party.astype("category")
tournament_result.party = tournament_result.party.cat.set_categories(sorter)

In [8]:
tournament_result

,round,party,winner,runnerup,third,fourth,fifth,sixth,seventh,eighth
0,1,A,shooku,aHuy,Alex22,CallOfMutti,Brosiris,Engel,Tschulie48,None
1,1,AA,efenomeno91,Löffelbiskuit,Dansky,skonda23,So Professionell,towed,None,None
2,1,AB,MvN,MATCHmeIFyouCAN,Roggu,Mello,Schmallock,Sözzl,None,None
3,1,AC,laventus,RZN Juan,Narkez,hiafa,R3ktByBaguette,MinasMask,GLORBO FLORBO,None
4,1,AD,Kubutan,xBaschix,Hondulululili,Balu,musa7mdv,FCZ,None,None
...,...,...,...,...,...,...,...,...,...,...
67,5,BS,Mavee,Twitch MemooTFT,Rogunis,JonDrag,ToxicWolf99,Cyuaa,Doréto,ysN01
68,6,BP,wandherker,Wägga,Kubutan,gluteus maximus,laventus,Shantao,Glindo,aHuy
69,6,BQ,shooku,EliaTFT,Skityrax,mrpepe,Bufferingo,Lorus,leinadsaibot29,PokerFreakDC92
70,6,BR,Jaeben,Löffelbiskuit,Cain,Balu,Narkez,Guns N Crits,Masterpede,MxMaxi
71,6,BS,Cyuaa,Twitch MemooTFT,Doréto,ysN01,Mavee,Rogunis,JonDrag,ToxicWolf99

In [9]:
tournament_result =tournament_result.sort_values(by=['round','party']).reset_index(drop=True)

In [10]:
dict_points = {'winner': 8, 'runnerup': 7, 'third': 6, 'fourth': 5,'fifth': 4,'sixth': 3,'seventh': 2,'eighth': 1}
dict_placements = {'winner': 1, 'runnerup': 2, 'third': 3, 'fourth': 4,'fifth': 5,'sixth': 6,'seventh': 7,'eighth': 8}
tiebreaker = ['total','first','top_four','second','third','fourth','fifth','sixth','seventh']
tournament_result = tournament_result.rename(columns= dict_placements)

In [11]:
tournament_result

,round,party,1,2,3,4,5,6,7,8
0,1,A,shooku,aHuy,Alex22,CallOfMutti,Brosiris,Engel,Tschulie48,None
1,1,B,GrexGoesFlex,JetzIsSchluss,Cain,akazaka,PicaPinguin,Strohli,Skys,None
2,1,C,Doréto,Zeruel,John Schmieri,SenecaRhetor,PinkFloop,xXTheAleXx01,None,None
3,1,D,Dacano,MxMaxi,LPGjustJohnny,TFTJandro,King1088,Glatzkopf,None,None
4,1,E,Onlinewithbobo,MPLfreaki,Ulukanmco,TOBBERS,Marvex,BGProne,None,None
...,...,...,...,...,...,...,...,...,...,...
67,5,BS,Mavee,Twitch MemooTFT,Rogunis,JonDrag,ToxicWolf99,Cyuaa,Doréto,ysN01
68,6,BP,wandherker,Wägga,Kubutan,gluteus maximus,laventus,Shantao,Glindo,aHuy
69,6,BQ,shooku,EliaTFT,Skityrax,mrpepe,Bufferingo,Lorus,leinadsaibot29,PokerFreakDC92
70,6,BR,Jaeben,Löffelbiskuit,Cain,Balu,Narkez,Guns N Crits,Masterpede,MxMaxi
71,6,BS,Cyuaa,Twitch MemooTFT,Doréto,ysN01,Mavee,Rogunis,JonDrag,ToxicWolf99

In [12]:
tournament_result.query('round == 1').party.unique()

['A', 'B', 'C', 'D', 'E', ..., 'AG', 'AH', 'AJ', 'AK', 'AL']
Length: 32
Categories (75, object): ['A', 'B', 'C', 'D', ..., 'BT', 'BU', 'BV', 'BW']

In [13]:
tournament_result2 = tournament_result.melt(id_vars=['round','party'],value_vars=[1,2,3,4,5,6,7,8])

In [14]:
tournament_result2

     round party variable           value
0        1     A        1          shooku
1        1     B        1    GrexGoesFlex
2        1     C        1          Doréto
3        1     D        1          Dacano
4        1     E        1  Onlinewithbobo
..     ...   ...      ...             ...
571      5    BS        8           ysN01
572      6    BP        8            aHuy
573      6    BQ        8  PokerFreakDC92
574      6    BR        8          MxMaxi
575      6    BS        8     ToxicWolf99

[576 rows x 4 columns]

In [15]:
tournament_pivot = pd.pivot_table(tournament_result2,values='variable',index ='value',columns='round',aggfunc= 'first').reset_index()

In [16]:
tournament_pivot

round         value  1    2    3    4    5    6
0            1EkanS  1    1    5    7  NaN  NaN
1            Abibot  2    6  NaN  NaN  NaN  NaN
2         ActOfRage  5  NaN  NaN  NaN  NaN  NaN
3          Adrilion  6  NaN  NaN  NaN  NaN  NaN
4             Aexoq  3    1    6    4  NaN  NaN
..              ... ..  ...  ...  ...  ...  ...
193        xBaschix  2    6  NaN  NaN  NaN  NaN
194    xXTheAleXx01  6  NaN  NaN  NaN  NaN  NaN
195           ysN01  1    4    1    6    8    4
196        zZEscape  3    5  NaN  NaN  NaN  NaN
197          εnvy Þ  5  NaN  NaN  NaN  NaN  NaN

[198 rows x 7 columns]

In [11]:
with open("ausgabe_file.txt","w") as o:
    for i in range(len(tournament_pivot)): 
        o.write(f'|p{i+1}player={tournament_pivot.iloc[i,0]} p{i+1}results=')
        for j in range(len(tournament_pivot.columns)-2):
             o.write(f'{tournament_pivot.iloc[i,j+1]},')
        o.write(f'{tournament_pivot.iloc[i,j+2]}\n')

In [21]:
def player_results(dataframe,rounds,participant,file):
    #with open("ausgabe_file.txt","a") as o:
        for i in range(participant): 
            file.write(f'|p{i+1}player={dataframe.iloc[i,0]} p{i+1}results=')
            for j in range(rounds-1):
                file.write(f'{dataframe.iloc[i,j+1]},')
            file.write(f'{dataframe.iloc[i,j+2]}\n')

def tiebreaker_result(tiebreaker,file):
    for tie in range(len(tiebreaker)):
            file.write(f'|tiebreaker{tie+1}={tiebreaker[tie]} ')    
    file.write('\n')

def promoted_results(next_round,participant,file):
    for go_up in range(next_round):
        file.write(f'|bg{go_up+1}=up')
    file.write("\n")

    for go_down in range(participant-next_round):
        file.write(f'|bg{go_down+next_round+1}=down')
    file.write("\n")

def points_result(points,file):
    temp =0
    for key in points:
        temp +=1
        file.write(f'|p{temp}={points[key]}')    
    file.write("\n")

In [22]:
def liquipedia_result(dataframe,next_round,points,tiebreaker):
    rounds = len(dataframe.columns)-1
    participant = len(dataframe)
    
    with open("ausgabe_file.txt","w") as o:
        tiebreaker_result(tiebreaker,o)
        points_result(points,o)
        promoted_results(next_round,participant,o)
        player_results(dataframe,rounds,participant,o)

In [14]:
liquipedia_result(tournament_pivot,8,dict_points,tiebreaker)

### Ausgabe Gruppenergebnisse

In [17]:
rounds = [1,1,2,2]
groups = [32,16,8,4]

In [18]:
def tabs_rounds(rounds,file):
    file.write(f'{{{{Tabs dynamic\n')
    for i in range(1,len(rounds)+1):
        file.write(f'|name{i}=Round {i} ')    
        file.write('\n')
    file.write(f'|This=1\n|hide-showall=true}}}}\n')

In [19]:
def group_result(df_groups,groups,rounds,file):
    tournament_round = 0
    played = 1
    first_group = 1
    for round in rounds:
        tournament_round +=1
        file.write(f'{{{{Tabs dynamic/tab|{tournament_round}}}}} \n')
        file.write(f'==={{{{Stage|Round {tournament_round}}}}}=== \n')

        groups = df_groups.query('round == @played ').party.unique()
        
        for group in groups:
            if first_group == 1:
               file.write(f'{{{{box|start|padding=2em|padding-bottom=2em|box-width=320px}}}} \n')
            else:
                file.write(f'{{{{box|break|padding=2em|padding-bottom=2em|box-width=320px}}}} \n')

            first_group = 0 
            
            group_result = df_groups.query('party == @group')
            file.write(f'{{{{match standings|title=Group {group}|rounds={round} \n')

            points_result(dict_points,file)
            promoted_results(4,8,file)
            tiebreaker_result(tiebreaker,file)
            player_result = group_result.melt(id_vars=['round','party'],value_vars=[1,2,3,4,5,6,7,8])
            group_pivot = pd.pivot_table(player_result,values='variable',index ='value',columns='round',aggfunc= 'first').reset_index()
            for i in range(len(group_pivot)): 
                file.write(f'|p{i+1}player={group_pivot.iloc[i,0]} |p{i+1}results=')
                for j in range(round):
                    file.write(f'{group_pivot.iloc[i,j+1]},')
                file.write('\n') 
            file.write(f'}}}} \n') 
        file.write(f'{{{{box|end}}}} \n')     
        played += round
        first_group = 1

In [34]:
with open("ausgabe_file.txt","w") as o:
    tabs_rounds(rounds,o)

In [23]:
with open("ausgabe_file.txt","w") as o:
    tabs_rounds(rounds,o)
    group_result(tournament_result,groups,rounds,o)